ul {
    list-style-type: none;
}
li {
    display: inline-block ;
    font-size: 100;
    font-family: 'Times Now', serif;
}

p{
    font-size: 12;
}

 h1 {
color: white;
margin-left: 40px;
font-size: 100px;}

 h2 {
color: whitesmoke;
font-size: 18;
font-weight: bold;
font-family: cursive;}

 h3 {
color: white;
font-size: 12;}

#footer {
    position: center;
    margin-top: -180px;
    height: 180px;
    }